@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}

input {
    all: unset;
  }

ul {
    list-style: none;
}

img {
    transition: transform 0.25s;
}

.container {
    margin: 0 auto;
    max-width: 1728px;
    padding: 0 10px;
    width: 100%;
    position: relative;
}

.header {
    position: relative;
    z-index: 3;
    height: 91px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(154.24deg, rgba(201, 201, 201, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(16px);   
}

.header.header-light {
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 80px;
    margin: 0 auto;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    margin-right: 7px;
    height: 100%;
}

.header__logo-image img{
    width: 60px;
}

.header__separator {
    width: 1px;
    height: 70px;
    background-color: black;
    margin-right: 11px;
}

.header__logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__logo-text p {
    font-family: 'Raleway', sans-serif;
}

.header__logo-text p:first-child {
    font-size: 15px;
    font-weight: 600;
}

.header__logo-second-text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5.3px;
    margin-left: 6px;
}

.header__company-name {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 65px 0 29px 0;
}

.header__menu-mobile-item {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.header__menu-mobile-items li:not(:first-child, :last-child, :nth-child(7)){
    margin-bottom: 19px;
}

.header__menu-mobile-items li:nth-child(7){
    margin-bottom: 46px;
}

.header__menu-mobile-items li:last-child {
    margin-bottom: 12px;
}

.header__menu-mobile-separator {
    width: 36px;
    height: 1px;
    background-color: #838383;
    margin: 0 auto;
}

.head-section {
    position: relative;
    z-index: -2;
}

.head-section-mobile {
    position: relative;
    z-index: -2;
    display: none;
}

.main-image-mobile {
    width: 100%;
    position: relative;
}

.main-image-mobile img {
    /* min-width: 100%;
    width: 100%; */
    width: 432px;
    max-width: 100%;
    margin-top: -59px;
    display: block;
}

.main-image {
    margin-top: -91px;
    max-width: 100%;
    position: relative;
}

.main-image img {
    max-width: 100%;
    display: block;
}

.company-name {
    color: white;
    max-width: 599px;
    width: 100%;
    line-height: 110%;
    letter-spacing: 3.5px;
    font-size: 74px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
    height: fit-content;
}

.company-name-mobile {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
    height: fit-content;
    color: white;
    max-width: 276px;
    width: 100%;
    line-height: 110%;
    letter-spacing: 3.5px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.header__menu {
    max-width: 714px;
    width: 100%;
    margin-top: 8px;
}

.header__menu-mobile-btn {
    display: none;
    width: 14px;
	height: 10px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.header__menu-mobile-btn.active span:nth-of-type(1) {
    display: none;
}

.header__menu-mobile-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}

.header__menu-mobile-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.header__menu-mobile-btn span {
    width: 14px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.header__menu-mobile-btn span:nth-of-type(2) {
	top: calc(50% - 4px);
    height: 1px;
}

.header__menu-mobile-btn span:nth-of-type(3) {
	top: calc(50% + 4px);
    height: 1px;
}

.header__menu-mobile {
    z-index: 2;
	position: absolute;
    height: 372px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: white;
	transform: translateY(-120%);
	transition: transform 0.5s;
    height: 370px;
    margin-top: 9vh;
    display: none;
}

.header__menu-mobile-items {
    text-align: center;
}

.header__menu-mobile.active {
    height: 372px;
    z-index: 2;
	transform: translateY(-120%);
	transition: transform 0.5s;
}

.header__menu-mobile li {
	list-style-type: none;
}

.header__menu-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 0 10px;
}

.header__menu-item {
    display: flex;
    align-items: center;
}

.header__link {
    cursor: default;
    color: white;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.header__link.light-header {
    color: black;
}

.header__link:after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    top: -10px;
    background: transparent;
    transition: all 0.3s;
}

.header__link:hover::after, .header__link.active__link::after{
    width: 70%;
    background: #C9C9C9;
}

.header__link.light-header:hover::after, .header__link.active__link::after{
    width: 70%;
    background: #C9C9C9;
}

.header__language-list {
    display: flex;
    max-width: 102px;
    justify-content: space-between;
}

.header__language-item {
    display: flex;
}

.header__language {
    font-weight: 100;
    font-size: 20px;
    color: black;
    cursor: default;
}

.header__language:hover {
    font-weight: 300;
}

.header__language.light:hover {
    font-weight: 300;
    color: white;
}

.header__language.active__language:hover {
    font-weight: 100;
}

.header__language:first-child {
    margin-right: 7px;
}

.header__language-separator {
    width: 1px;
    height: 22px;
    background-color: black;
    margin-right: 7px;
}

.active__language {
    color: white;
}

.active__language.light {
    color: #C9C9C9;
}

.separator {
    max-width: 1397px;
    width: 100%;
    height: 1px;
    background-color: #C9C9C9;
    margin: 0 auto;
}

.description {
    height: fit-content;
    margin-top: 116px;
}

.description__content {
    padding: 0px 213px 159px 213px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
}

.description__image {
    width: 40%;
    display: flex;
    justify-self: flex-start;
}

.description__text {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description__title {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 67px;
    text-align: center;
}

.description__text p {
    max-width: 770px;
    font-size: 20px;
    font-weight: 100;
    line-height: 140%;
}

.description__text h4 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 24px;
}

.promo {
    height: fit-content;
    margin-top: 116px;
}

.promo__content {
    padding: 0px 213px 159px 213px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
}

.promo__image {
    width: 40%;
    display: flex;
    justify-self: flex-start;
}

.promo__text {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promo__title {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 67px;
    text-align: center;
}

.promo__subtitle {
    max-width: 1116px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin: 0 auto 156px auto;
    line-height: 140%;
}

.promo__text p {
    font-size: 20px;
    font-weight: 100;
    line-height: 130%;
}

.promo__text h4 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 53px;
}

.promo__first-text {
    margin-bottom: 80px;
}

.promo__link {
    padding: 14px 0;
    min-width: 169px;
    text-align: center;
    border: solid 1px black;
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;;
}

.promo__link:hover{
    border: solid 3px black;
    padding: 13px 0;
}

.promo__link:hover:active{
    box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
}

.promo__content.promo-reverse-block {
    flex-direction: row-reverse;
}

.promo__content.promo-reverse-block .promo__image {
    justify-content: flex-end;
}

.footer {
    margin-top: 20px; /* временно */
    background-color: white;
    width: 100%;
}

.footer.dark {
    background-color: #181818;
    margin-top: 0;
    display: block;
}

.footer__companyname.dark {
    color: white;
}

.footer__menu-item {
    color: white;
}

.footer__social-links.dark a img {
    -webkit-filter: invert(1);
   filter: invert(1);
}

.footer__container {
    padding: 0 30px;
    height: 287px;
    max-width: 1397px;
    width: 100%;
    /* border-top: solid 1px #C9C9C9; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__separator {
    max-width: 1397px;
    height: 1px;
    background-color: #C9C9C9;
    margin: 0 auto;
}

.footer__left-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.footer__right-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__companyname {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: 600;
    cursor: default;
}

.footer__menu {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__menu-items{
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__menu-item {
    width: fit-content;
    font-size: 20px;
    font-weight: 100;
}

.footer__menu-item a {
    cursor: default;
}

.footer__menu-item a:hover {
    font-weight: 300;
}

.footer__social-links {
    width: 289px;
    display: flex;
    justify-content: space-between;
}

.social-link-item img:hover {
    transform: scale(1.2);
}

.social-link-item {
    cursor: default;
}

.social-link-item p {
    display: none;
    height: fit-content;
}

.stylepage {
    padding: 79px 212px 124px 212px;
}

.document__title {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 69px;
}

.document__text {
    font-size: 20px;
    line-height: 140%;
    font-weight: 100;
    margin-bottom: 104px;
}

.stylepage__one-image {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 127px;
}

.stylepage__one-image img {
    max-width: 100%;
}

.stylepage__two-image {
    display: flex;
    justify-content: space-between;
    width: 1033px;
    max-width: 100%;
    margin: 0 auto 89px auto;
}

.stylepage__two-image img {
    width: 504px;
    max-width: 49%;
}

.stylepage__two-image img:first-child {
    margin-right: 25px;
}

.laboratory {
    padding: 65px 212px 172px 212px;
}

.laboratory__first-img {
    width: fit-content;
    margin: 0 auto 65px auto;
}

.laboratory__first-img img {
    width: 918px;
    max-width: 100%;
}

.laboratory__image-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.laboratory__image-block img {
    max-width: 378px;
    width: 30%;
}

.press {
    position: relative;
    padding: 84px 300px 258px 300px;
}

.projects {
    position: relative;
    padding: 84px 300px 258px 300px;
}

.press__container {
    position: relative;
    align-items: stretch;
    max-width: 1300;
    width: 100%;
    text-align: center;
}

.press h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 94px;
}

.projects h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 94px;
}

.press__image-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.press__image-block:not(:last-child) {
    margin-bottom: 111px;
}

.press__image {
    height: auto;
    width: 233px;
    position: relative;
    transition: all 0.5s ease;
}

.press__image:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 999999;
}

.press__image.active {
    width: 100%;
}

.press__image.active:hover {
    transform: scale(1);
}

.press__image-item {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
    transform: scale(1);
}
 
.press__image-item.active.index:hover {
    transform: scale(1)
}

.projects{
    padding: 175px 212px 198px 212px;
}

.projects__image {
    max-width: 368px;
    width: 100%;
}

.projects__title {
    text-align: left;
}

.projects__text {
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: #A5A5A5;
}

.project {
    padding: 75px 212px 87px 212px;
    text-align: center;
}

.project__title {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 75px;
}

.project__container {
    display: flex;
    justify-content: space-between;
}

.project__container.middle {
    align-items: center;
}

.project__container.reverse {
    flex-direction: row-reverse;
    align-items: center;
}

.project__image_1 img{
    max-width: 688px;
    width:100%;
}

.project__image_2 img{
    max-width: 487px; 
    width:100%;
}

.contacts {
    display: block;
    padding: 157px 205px 154px 205px;
    margin-top: -91px;
    background-color: #181818;
    color: white;
}

.contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__left-block {
    max-width: 50%;
}

.contacts__right-block {
    max-width: 50%;
    max-height: 730px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contacts__title {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 52px;
}

.contacts__subtitle {
    margin-bottom: 78px;
}

.contacts__subtitle-text {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.contacts__division-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contacts__division:not(:last-child) {
    margin-bottom: 76px;
}

.contacts__division-text {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 17px;
}

.contacts__division-phone {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.contacts__description {
    margin-top: 52px;
    font-size: 15px;
    font-weight: 100;
}

.contacts__form-description {
    max-width: 658px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 200;
    margin-bottom: 38px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__form label {
    font-size: 20px;
    font-weight: 200;
}

.contacts__form_input {
    max-width: 254px;
    height: 31px;
    font-size: 20px;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px white;
    background-color: #181818;
    margin-bottom: 64px;
}

.contacts__message-title {
    margin-bottom: 31px;
}

.contacts__inputs {
    border: solid 1px white;
    max-width: 874px;
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin-bottom: 78px;
}

.contacts__inputs label {
    position: absolute;
    left: 95%;
    top: 9%;
}

.contacts__inputs textarea {
    background-color: #181818;
    color: white;
    font-size: 20px;
    max-width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    padding: 0 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

input[type="file"] {
    opacity: 0;
}

.contacts__file-input {
    background-color: #181818;
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    margin: 9px 9px 0 0;
    align-self: flex-end;
}

.contacts__form button {
    background-color: #181818;
    border: solid 1px white;
    padding: 14px 30px;
    font-size: 15px;
    max-width: 134px;
    color: white;
}

.materials__desctop {
    padding: 89px 212px 112px 212px;
}

.materials__mobile {
    display: none;
}

.materials__block {
    margin-bottom: 68px;
}

.materials__desctop:first-child .materials__block{
    margin-bottom: 0;
}

.materials__title {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.materials__subtitle {
    font-size: 20px;
    line-height: 140%;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
}

.materials__text {
    font-size: 20px;
    font-weight: 200;
    line-height: 140%;
    margin-bottom: 68px;
}

.materials__images {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    grid-template-rows: auto auto;
    row-gap: 66px;
}

.materials__image img{
    max-width: 100%;
}

@media (max-width: 1700px) {
    .project {
        padding: 75px 150px 87px 150px;
    }
}

@media (max-width: 1575px) {
    .promo__content {
        padding: 0px 70px 159px 70px;
    }  
    
    .projects {
        padding: 175px 150px 198px 150px;
    }

    .project {
        padding: 150px 100px 87px 100px;
    }
}

@media (max-width: 1470px) {
    .header__container {
        padding: 0 40px;
    }

    .description__content {
        padding: 116px 30px 159px 30px;
        padding-top: 0;
    }

    .promo__content {
        padding: 0px 30px 159px 30px;
    }

    .description__image {
        justify-content: center;
        width: 35%;
    }

    .stylepage {
        padding-left: 30px;
        padding-right: 30px;
    }

    .laboratory {
        padding-left: 30px;
        padding-right: 30px;
    }

    .press {
        padding: 84px 150px 258px 150px;
    }

    .projects {
        padding: 175px 50px 258px 50px;
    }

    .promo__image {
        width: 35%;
        justify-self: flex-start;
    }

    .project {
        padding: 150px 80px 87px 80px;
    }

    .project__image_1, .project__image_2 {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .project__image_1 img{
        width: 90%;
    }

    .project__image_2 img{
        width: 90%;
    }

    .materials__desctop {
        padding: 89px 80px 112px 80px;
    }
}

@media (max-width: 1300px) {
    .promo__text {
        max-width: 58.5%;
    }

    .projects__image-item {
        width: 85%;
    }

    .projects__title{
        width: 85%;
        margin: auto;
    }

    .projects__text{
        width: 85%;
        margin: auto;
    }

    .contacts {
        padding: 157px 100px 154px 100px;
    }
}

@media (max-width: 1120px) {
    .promo__text {
        max-width: 53.5%;
    }
}

@media (max-width:1030px) {
    .description__content {
        flex-direction: column;
        padding: 116px 50px 30px 50px
    }

    .description__image, .promo__image {
        width: 100%;
        margin-bottom: 45px;
    }

    .description__image img {
        max-width: 100%;
    }

    .promo__image img {
        max-width: 100%;
        margin: 0 auto;
    }

    .description__text {
        width: 100%;
    }

    .promo__text {
        max-width: 100%;
    }

    .description__title {
        margin-bottom: 0;
    }

    .description__first-block {
        margin: 0 auto;
    }
    
    .promo {
        margin-bottom: 42px;
    }

    .promo__content, .promo__content.promo-reverse-block {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .promo__content.promo-reverse-block .promo__image {
        justify-content: center;
    }

    .promo__image {
        width: 100%;
        margin-bottom: 45px;
    }

    .promo__text {
        align-items: center;
        width: 100%;
    }

    .promo__subtitle {
        padding: 20px;
    }

    .promo.promo-last-block {
        margin-bottom: 84px;
    }

    .stylepage {
        padding: 45px 45px 30px 45px;
    }

    .laboratory {
        padding: 45px 45px 30px 45px;
    }

    .press {
        padding: 175px 80px 258px 80px;
    }

    .projects {
        padding: 175px 80px 258px 80px;
    }
}

@media (max-width: 965px) {
    .header__menu-items {
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .header__menu-item {
        margin-right: 20px;
    }
    
    .company-name {
        font-size: 30px;
        max-width: 260px;
    }

    .description__title  {
        margin: 0 auto;
    }

}

@media (max-width: 935px) {

    .description__image, .promo__image {
        width: 100%;
        margin-bottom: 45px;
    }

    .description__image img, .promo__image img {
        max-width: 100%;
    }

    .description__text, .promo__text {
        width: 100%;
    }

    .press {
        padding: 100px 30px 258px 30px;
    }

    .projects {
        padding: 100px 30px 258px 30px;
    }
}

@media (max-width: 900px) {
    .header__container {
        padding: 0 20px;
    }

    .footer__left-section {
        flex-direction: column;
        justify-content: center;
    }

    .footer__companyname {
        margin-bottom: 20px;
    }

    .press__image-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .press__image:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .projects__image:hover {
        transform: scale(1);
    }

    .projects__image {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .projects__image-item {
        width: 100%;
    }

    .projects__title{
        margin: 0;
    }

    .projects__text{
        margin: 0;
    }

    .project {
        padding: 40px 50px 87px 50px;
    }

    .project__title {
        margin-bottom: 40px;
    }
}

@media (max-width: 855px) {
    .projects__image:last-child{
        margin-bottom: 20px;
    }

    .press__image-block:not(:last-child) {
        margin-bottom: 20px;
    } 

    .contacts__container {
        flex-direction: column;
    }

    .contacts__left-block {
        text-align: center;
        margin-bottom: 86px;
        max-width: 100%;
        text-align: center;
    }

    .contacts__form-description {
        max-width: 100%;
    }

    .contacts__right-block {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .contacts__form_input{
        margin-right: auto;
        margin-left: auto;
    }

    .contacts__inputs label {
        left: 92%
    }

    .contacts__form button {
        align-self: center;
    }

    .materials__desctop {
        padding: 50px 50px 50px 50px;
    }
}

@media (max-width: 835px) {
    .press__image.projects__image {
        max-width: 90%;
        margin: 0 auto 30px auto;
    }

    .project__container {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .project__container.reverse {
        flex-direction: column;
        align-items: center;
    }

    .project__image_1 {
        margin-bottom: 22px;
    }

    .project__image_1 img, .project__image_2 img {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .header__language-list.uk {
        flex-direction: column;
    }

    .header__language-list.uk .header__language-item .header__language-separator {
        display: none;
    }

    .laboratory__image-block {
        flex-direction: column;
        align-items: center;
    }

    .laboratory__image-block img{
        width: 100%;
    }

    .laboratory__image-block img:not(:last-child){
        margin-bottom: 34px;
    }

    .materials__desctop {
        display: none;
    }

    .materials__mobile {
        display: block;
        padding: 17px 35px 41px 35px;
        flex-direction: column;
    }

    .materials__title {
        font-size: 25px;
        font-weight: 200;
        margin-bottom: 20px;
    }

    .materials__text {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 68px;
        text-align: center;
    }

    .materials__image-mobile {
        width: 100%;
        margin-bottom: 32px;
    }

    .materials__image-mobile img {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .header__menu-item {
        margin-right: 10px;
    }

    .promo__content {
        padding-top: 49px;
    }

    .press{
        padding: 22px 48px 22px 48px;
    }

    .projects{
        padding: 22px 48px 22px 48px;
    }

    .press__image {
        width: 100%;
        max-height: 100%;
    }

    .press__image-block:not(:last-child) {
        margin-bottom: 41px;
    }

    .press__image:not(:last-child){
        margin-bottom: 30px;
        margin-right: 0;
    }

    .press__image img {
        margin: 0 auto;
        width: 100%;
    }

    .press__image-block {
        flex-direction: column;
        align-items: center;
    }

    .press__image.projects__image {
        width: 100%;
        margin: 0 auto 30px auto;
    }

    .press__image-block.projects__image-block {
        margin-bottom: 0;
    }
}

@media (max-width: 537px) {
    .header__menu-item a {
        font-size: 16px;
    }

    .header__container {
        padding: 0 10px;
    }
}

@media (max-width: 464px) {
    .container {
        padding: 0;
    }

    .header__menu-mobile-btn {
        display: inline-block;
        max-width: 14px;
    }

    .header__container {
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-image {
        display: flex;
        align-items: center;
        margin-right: 2px;
    }

    .header__logo-image img {
        max-width: 24px;
        width: 100%;
    }

    .header__separator {
        height: 28.6px;
        margin-right: 0px;
    }

    .header__logo-text p {
        font-size: 8px;
    }

    .header__logo-second-text {
        font-size: 5px;
        letter-spacing: 6.6px;
        margin-left: 7px;
    }

    .header {
        width: 100%;
        height: 38px;
        border: none;
        background: none white;
        color: white;  
    }

    .header.header.header-light {
        border: none;
    }

    .header__menu {
        max-width: 14px;
        margin-top: 0;
    }

    .header__menu-mobile.active {
        transform: translateY(-43px);
    }

    .header__menu-items {
        display: none;
    }

    .header__language-settings {
        display: none;
    }

    .company-name {
        font-size: 25px;
        max-width: 220px;
    }

    .head-section {
        display: none;
    }

    .head-section-mobile {
        display: block;
    }

    .description__content {
        padding: 35px 50px;
        margin-bottom: 0;
    }

    .promo {
        margin-top: 42px;
    }

    .promo__content {
        margin-bottom: 0;
    }

    .promo__subtitle {
        padding: 0 50px;
        margin: 0 auto 29px auto;
    }

    .promo__image {
        margin-bottom: 23px;
    }

    .promo__text h4 {
        margin-bottom: 20px;
    }

    .promo__first-text {
        margin-bottom: 30px;
    }

    .separator {
        max-width: 55%;
    }

    .description__text p, .promo__text p {
        font-size: 15px;
    }

    .content__title  {
        font-size: 35%;
        font-weight: 100;
        margin: 0 auto;
        margin-bottom: 160px;
    }

    .content__info {
        display: flex;
    }

    .footer {
        background-color: #C9C9C9;
        border: none;
    }

    .footer__container {
        padding: 0 11% 0 5.5%;
    }

    .footer__left-section {
        width: 66.6%;
        flex-direction: row;
    }

    .footer__right-section {
        width: auto;
        width: 33.4%;
        justify-content: flex-end;
    }

    .footer__companyname {
        font-size: 13px;
        margin-right: 10px;
    }

    .footer__menu {
        justify-content: flex-end;
    }

    .footer__menu-item {
        font-size: 15px;
    }

    .footer__social-links {
        flex-direction: column;
        height: 165px;
        width: auto;
    }

    .social-link-item img{
        display: none;
    }

    .social-link-item {
        width: fit-content;
    }

    .social-link-item p {
        display: block;
        font-size: 15px;
        font-weight: 100;
    }

    .document__title {
        font-size: 25px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 17px;
    
    }
    
    .stylepage__text {
        font-size: 15px;
        margin-bottom: 17px;
    }

    .document__one-image {
        margin-bottom: 28px;
    }
    
    .stylepage__two-image {
        margin: 0 auto 28px auto;
    }
    
    .stylepage__two-image img:first-child {
        margin-right: 25px;
    }

    .laboratory__title {
        max-width: 213px;
        text-align: center;
        margin: 23px auto;
    }

    .document__text {
        margin-bottom: 50px;
        font-size: 15px;
    }

    .laboratory__first-img {
        margin-bottom: 53px;
    }

    .separator.last {
        display: none;
    }

    .projects {
        padding: 22px 41px 80px 41px;
    }

    .press__image.projects__image {
        max-width: 100%;
    }

    .press__image.projects__image:not(:last-child) {
        margin-bottom: 26px;
    }

    .projects h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .projects__title, .projects__text {
        font-size: 15px;
    }

    .project {
        padding: 20px 50px 87px 50px;
    }

    .project__title {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 100;
    }

    .contacts {
        margin-top: 0;
        padding: 27px 42px 70px 42px;
    }

    .contacts__form label {
        font-size: 15px;
    }

    .contacts__title {
        font-size: 25px;
        margin-bottom: 28px;
        font-weight: 200;
    }

    .contacts__subtitle-text {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    .contacts__subtitle {
        margin-bottom: 42px;
    }

    .contacts__division-title {
        font-size: 15px;
        margin-bottom: 31px;
    }

    .contacts__division-text {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .contacts__division-phone {
        font-size: 15px;
        font-weight: 100;
    }

    .contacts__division:not(:last-child) {
        margin-bottom: 52px;
    }

    .contacts__division.last {
        margin-bottom: 20px;
    }

    .contacts__description {
        margin-top: 0;
    }

    .contacts__form-description {
        font-size: 15px;
        font-weight: 100;
    }
    
    .footer.dark {
        background-color: #D9D9D9;
    }

    .footer__companyname.dark {
        color: black;
    }

    .footer__social-links.dark {
        color: black;
    }

    .footer__menu-item.dark {
        color: black;
    }

    .press h1 {
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 25px;
    }
}